*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;
}
h1{font-size: 3.8em;}
h2{font-size: 2.0em;}
h3{font-size: 1.5em;}
p{font-size: 1.0em;}
body{
background-color:rgb(1, 39, 255); 
    height: 100%;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    z-index: 99;
    box-shadow: 0 0 10px rgb(15, 15, 15);
    background: #002544;
}
/* header*/
#inicio{
    display: none;
}
i{
    color: #ffffff;
    cursor: pointer;
} 
.logo{
    display: flex;
    color: #ffffff;
    font-size: 0.5em;
    align-items: center;
    margin-right: 30px;
    margin-left: 10px;
}
.logo img{
    height: 50px;
}
body, html {
    height: 100%;
    margin: 0;
}
.navegacion ul{
    list-style: none;
}
header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header .navegacion ul li{
    list-style: none;
    float: left;
    position: relative;
}
header .navegacion ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    transition: all .2s ease;
    scroll-behavior: smooth;
}
header .navegacion ul li a:hover{
border-bottom: 2px solid cadetblue;
width: 100%;
height: 130%;
z-index: 99;
box-shadow: 0 0 10px #00579e;
background: #00579e;
}
header .navegacion ul li ul{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    display: none;
    background: #00579e;
}
header .navegacion ul li ul li a{
   font-size: 13px;
   text-transform: capitalize; 
}
header .navegacion ul li ul li ul{
    position: absolute;
    top: 0;
    right: 180px;
}
header .navegacion ul li ul li{
    width: 100%;
}
header .navegacion ul li:hover > ul{
    display: initial;
}
header .menu{
    font-size: 2.5cm;
    display: none;
}
/* hero*/
#hero{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 100vh;
        color: #000;
        background-image:linear-gradient(
            90deg,
            rgb(59, 127, 230),
            rgb(98, 192, 255)
           
        ) 
    }
button{
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 40px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.5);
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
 }
button:hover{
    background-color: gray;
}
button  a{
    text-decoration: none;
    color:black;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0 15px;
}
.parte1{
    text-align: center;
    background-color: rgb(104, 127, 255);
}
aside{
    float: right;
    width: 300px;
    height: 100%;
    background-color: #fff;
    margin-top: 100px;
    margin-left: 100px;
    border: solid 1px gray;
    box-shadow: 2px 2px 5px gray;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 0 30px;
    align-items: flex-end;
 }
 aside h2{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background-color:rgb(1, 39, 255);
    color:#fdf46f;
    padding: 10px 30px;
    height: 50px;
    transition: .5s ease;
    border-radius: 0 30px;
}
aside a{
    text-decoration: none;
}
.texto ul li a{
    text-decoration: none;
    color: #ffffff;
    background-color: #0066b9;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    display: flow-root;
    transition: all .2s ease;
    scroll-behavior: smooth;
}   
.texto ul li a{
    width: 100%;
    height: 100%;
    z-index: 99;
    border: #000;
    border-style: double;
    border-radius: 50px;
    text-align: center;
}
aside ul{
   margin: 30px;
   padding: 10px;
   list-style: none;
   line-height: 16px; 
}
aside ul a button{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color:#ffffff;
    padding: 10px 30px;
    height: 30px;
    transition: .5s ease;
    border-radius: 0 10px;
}
aside ul a button:hover{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}
aside ul ul a button{
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: rgba(155, 39, 176, .4);
    border: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
aside ul ul{
    height: 0px;
    overflow: hidden;
    transition: 0.3s;
 }
.texto{
    text-align: justify;
    padding: 50px;
    font-size: 1em;
    background-image:linear-gradient(
            90deg,
            rgb(59, 127, 230),
            rgb(98, 192, 255)
           
        ) 
}
#int{
    width: 350px;
    height: 300px;
    margin-right: 200px;
    border-radius: 20%;
    float: left;
}
.parte2{
    text-align: center;
    background-color:rgb(88, 113, 255);
    height: 50px;
}
table{
    width: 50%;
    text-align: center;
    margin-left: 250pxs;
}
table, th, td{
    border: 100px solid #fdf46f;
    border-collapse: collapse;
}
footer{
    background-color: #002544;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
.contenedorfooter{
    width: 100%;
    padding: 90px 40px 30px;
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 5px;
    background-color: #efefef;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color: #00579e;
    opacity: 0.9;
}
/* Hover Effects on Social Media Icons*/
.socialicons a:hover{
    background-color: #000;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: #efefef;
    transition: 0.5s;
}
.footernav{
   margin: 30px 0; 
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footernav ul li a{
    color: #efefef;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7s;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 2;
}
.footerbottom{
    background-color: #002544;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: #efefef;
}
/*===================*/
/*    Diseno movil   */
/*===================*/
@media (max-width: 768px)
{
   header, nav, section {
      padding: none;
      text-align: center;
   }
   nav ul {
      display: flexbox;
      flex-direction: row;
      gap: 10px;;
   }
   img {
      max-width: 100% ;
      height: auto;
   }
   p , h3 {
      font-size: 1em;
   }
   h1 {
    font-size: 3em;
   }
}